<div class="content-wrapper">
    <section class="content">
        <div class="page-actions">
            <a class="btn btn-default btn-sm" href="?module=page&amp;action=insertPage">
                Insert
            </a>
        </div>
    </section>
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Pages</h3>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                ID
                            </th>
                            <th style="width: 50%">
                                Page Name
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <?php foreach($pages as $page): ?>
                            <tr>
                                <td>
                                    <?= $page->id ?>
                                </td>
                                <td>
                                    <a>
                                        <?= $page->title ?>
                                    </a>
                                </td>
                                <td class="project-actions text-right">
<!--                                    <a class="btn btn-primary btn-sm" href="#">-->
<!--                                        <i class="fas fa-folder">-->
<!--                                        </i>-->
<!--                                        View-->
<!--                                    </a>-->
                                    <a class="btn btn-info btn-sm" href="?module=page&amp;action=editPage&amp;id=<?= $page->id ?>">
                                        Edit
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="#">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
</div>