<div class="card card-warning">
    <div class="card-header">
        <h3 class="card-title">New Page</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <form method="post" action="">
            <input type="hidden" name="action" value="1">
            <div class="row">
                <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Page title</label>
                        <input type="text" name="title" class="form-control" placeholder="Page title">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <!-- textarea -->
                    <div class="form-group">
                        <label>Page content</label>
                        <textarea class="form-control" name="content" rows="3" placeholder="Page content"></textarea>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Insert</button>
            </div>
        </form>
    </div>
</div>