<div class="container">
  <form class="form-signin" action="index.php" method="post">
    <input type="hidden" name="section" value="contact-us">
    <input type="hidden" name="action" value="submitContactForm">

    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">
        <?= $title; ?>
      </h1>
      <p>
        <?= $content; ?>
      </p>
    </div>

    <div class="form-label-group">
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" value="" required autofocus>
      <label for="inputEmail">Email address</label>
    </div>

    <div class="form-label-group">
      <textarea id="comment" class="form-control" name="comment"></textarea>
      <label for="comment">Message</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2020</p>
  </form>
</div>